page-home {
    ion-header{
        div{
            height:4rem;
            background: url('../../assets/imgs/header.png') no-repeat no-repeat center center;
            background-size: 100% 100%;
        }
    }
    $banimg:16rem;
    // 标题红色
    $textred:#ff2e2a;
    // 字体查询
    @mixin fontsize{
        @media (max-width:375px) {
            font-size: 16px;
        }
        @media (max-width:320px) {
            font-size: 14px;
        }
    }
    ion-content{
        ion-slides{
            height:$banimg !important;
        }
        .swiper-slide img{
            width: 100%;
            height:$banimg !important;
        }
        .swiper-pagination-bullet{
            background: #fff;
            opacity:1;
        }
        .swiper-pagination-bullet-active{
            background: #ff8c02;
        }
        .guan{
            display: flex;
            height: 7.6rem;
            margin: 1.6rem 0; 
            li{
                height: 7.6rem;
                width: 33.3%;
                flex-basis: 33.3%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 100%;
                    width: auto;
                }
            }
        }
        .title{
            line-height: 4.3rem;
            background: #ededed;
            text-align: center;
            color: $textred;
            font-size:1.6rem;
            span:nth-child(2),span:nth-child(3){
                color: #ff5400;
            }
        }
        .item:last-child{
            display: none;
            height: 0;
        }
        $inputradius:8px;
        .list-md[inset] .item:first-child,.list-md[inset] .item:nth-child(2){
            padding: 0 16px;
            border: 1px solid #cdcdcd;
            border-radius: $inputradius;
            margin-bottom: 15px;
            font-size: 1.8rem;
        }
        .item-md.item-input.item-input-has-focus.item-inner,.item-md.item-input.input-has-focus .item-inner{
            border: none;
            box-shadow:inset 0px 0px 0px  #cdcdcd;
        }
        
        ion-label[fixed]{
            flex: 0 0 30px;
            width: 30px;
            min-width: 30px;
            max-width: 50px;
            text-align: center;
        }
        .btn{
            margin: 0 16px;
            button{
                border-radius: $inputradius;
                font-size: 1.8rem;
                margin-top: -15px;
                margin-bottom: 15px;
            }
            
        }
        .phone{
            ion-icon{
                font-weight: 600;
            }
            @include fontsize;
        }
        .icon-list{
            margin-top: 15px;
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    width: 25%;
                    flex-basis: 25%;
                    text-align: center;
                    position: relative;
                    margin-bottom: 15px;
                    img{
                        display: block;
                        width: 70%;
                        margin:0 auto;
                        margin-bottom: 7px;
                    }
                    span{
                        color: #333;
                        font-size: 1.6rem;
                    }
                    i{
                        position: absolute;
                        top:0;
                        right: -14px;
                    }
                }
            }
        }
        // ioc 头条
        .top-title{
            display: flex;
            line-height: 4.3rem;
            align-items: center;
            justify-content: center;
            >div:first-child{
                span{
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    background: #ff6000;
                    color: #fff;
                    text-align: center;
                    line-height: 22px;
                }  
            }
            >div:nth-child(2){
                color: #333;
                font-weight: bold;
                margin-left: 10px;
            }
            @include fontsize;
        }
        //产品
        .prto-list{
            position: relative;
            margin-top:4rem;
            ul{
                display: flex;
                flex-wrap: wrap;
                border-top: 1px solid $textred;
                li{
                    width: 50%;
                    flex-basis: 50%;
                    box-sizing: border-box;
                    border-bottom: 1px solid #cdcdcd;
                    text-align: center;
                    background: #f9f9f9;
                    >div{
                        height: 5.5rem;
                        padding-top: 1.5rem;
                        font-weight: bold;
                        >span:last-child{
                            color: $textred;
                        }
                    }
                    >i{
                        display: flex;
                        justify-content: center;
                        align-content:center;
                        >img{
                            width: 90%;
                            height: 90%;
                            margin-bottom: 1rem;
                        }
                    }
                }
                .bottom{
                    width: 33.33%;
                    flex-basis:33.33%;
                    >div{
                        overflow: hidden;
                        font-size: 12px;
                    }
                    span{
                        font-weight: bold;
                    }
                    >span:last-child{
                        
                        color: $textred;
                       
                    }
                }
                li:nth-child(odd){
                    border-right: 1px solid #cdcdcd;
                }
                li:last-child{
                    border-right: none;
                    border-left: 1px solid #cdcdcc;
                }
            }
            .title-text{
                position: absolute;
                top:-1.55rem;
                left: 0;
                height: 3.1rem;
                width: 100%;
                img{
                    height: 100%;
                    width: auto;
                    position: absolute;
                    top:0;
                    left: 50%;
                    transform: translateX(-50%)
                }
                span{
                    font-size: 16px;
                    color: #fff;
                    font-weight: bold;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%)
                }
            }
        }
        //新闻资讯
        .news{
            margin-top: 1.4rem;
            .news-title{
                height: 4.2rem;
                background: #ededed;
                font-size: 1.8rem;
                font-weight:400;
                color: $textred;
                padding: 0 1rem;
                display: flex;
                align-items: center;
                ion-icon{
                    margin-right: 1rem;
                }
                span:last-child{
                    color: #000;
                    font-size: 14px;
                    flex: 1;
                    text-align: right;
                }
            }
            ul{
                li{
                    display: flex;
                    height: 8.5rem;
                    border-bottom:1px solid #cdcdcd;
                    margin: 0 1rem;
                    padding: 1rem 0;
                    div:first-child{
                        width:12.3rem;
                        flex-basis: 12.3rem;
                        display: flex;
                        padding-right: 1.8rem;
                    }
                    div:last-child{
                        flex: 1;
                        display: flex;
                        flex-wrap: wrap;
                        h4{
                            font-weight: 400;
                            font-size: 1.6rem;
                            flex-basis: 100%;
                        }
                        p{
                            font-size: 1.4rem;
                            color: #797979;
                            flex-basis: 100%;
                        }
                    }
                }
                li:last-child{
                    border: none;
                }
            }
        }
    }//内容区域
}
