
<ion-header>
  <div>

  </div>
</ion-header>


<ion-content >
  <ion-slides pager autoplay="3000" loop="true">
    <ion-slide *ngFor="let item of [1,2,3,4,5]">
      <img src="../../assets/imgs/banner.png" alt="图片丢失">
    </ion-slide>
  </ion-slides>
  <!-- 家具馆 -->
  <ul class="guan">
    <li>
      <img src="../../assets/imgs/ban1.png" alt="">
    </li>
    <li>
      <img src="../../assets/imgs/ban2.png" alt="">
    </li>
    <li>
      <img src="../../assets/imgs/ban3.png" alt="">
    </li>
  </ul>
  <!-- 标题 -->
  <h3 class="title">
    <span>预约房量</span>
    <span>&</span>
    <span>活动报名</span>
  </h3>
  <!-- 用户提交表单 -->
  <div>
    <ion-list inset>
      <ion-item>
        <ion-label no-lines fixed>
          <ion-icon name="person"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="你的姓名"></ion-input>
      </ion-item>
      <ion-item no-lines>
        <ion-label fixed>
          <ion-icon name="phone-portrait"></ion-icon>
        </ion-label>
        <ion-input type="text" placeholder="你的电话"></ion-input>
      </ion-item>
      <ion-item no-lines ></ion-item>
    </ion-list>
    <div class="btn">
      <button ion-button block color="danger" >提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</button>
    </div>
  </div>
  <!-- 标题 -->
  <h3 class="title phone">
    <span>
      <ion-icon name="call"></ion-icon>
    </span>
    <span>鲁宾斯咨询热线：</span>
    <span>028-65062999 13880949679</span>
  </h3>
  <!-- 图标分类 -->
  <div class="icon-list">
    <ul>
      <li *ngFor="let item of iconList">
        <img src="../../assets/imgs/{{item.img}}" alt="图片">
        <span>{{item.title}}</span>
        <i *ngIf="item?.hot"><img src="../../assets/imgs/hot.png" alt="hot"></i>
      </li>
    </ul>
  </div>
  <!-- 头条 -->
  <div class="top-title title">
    <div>
      <span>鲁</span> <span>宾</span> <span>斯</span> <span>头</span> <span>条</span>
    </div>
    <div>
      <span>
        12. 12火爆来袭, 全场狂欢
      </span>
    </div>
  </div>
  <!--产品 -->
  <div class="prto-list hot">
    <ul>
      <li *ngFor="let item of proHotList;let i=index" [ngClass]="{'bottom':i>=proHotList.length-3}">
        <div>
          <span>{{item.title}}</span>
          <br/>
          <span *ngIf="i<proHotList.length-3">{{item.prise}}</span>
        </div>
        <i>
          <img src="../../assets/imgs/{{item.img}}" alt="产品">          
        </i>
        <span *ngIf="i>=proHotList.length-3">{{item.prise}}</span>
      </li>
    </ul>
    <div class="title-text">
      <img src="../../assets/imgs/title.png" alt="">
      <span>热销爆款</span>
    </div>
  </div>
  <!--产品 -->
  <div class="prto-list hot">
    <ul>
      <li *ngFor="let item of proHotList2;let i=index" [ngClass]="{'bottom':i>=proHotList2.length-3}">
        <div>
          <span>{{item.title}}</span>
          <br/>
          <span *ngIf="i<proHotList2.length-3">{{item.prise}}</span>
        </div>
        <i>
          <img src="../../assets/imgs/{{item.img}}" alt="产品">          
        </i>
        <span *ngIf="i>=proHotList2.length-3">{{item.prise}}</span>
      </li>
    </ul>
    <div class="title-text">
      <img src="../../assets/imgs/title.png" alt="">
      <span>套餐团购</span>
    </div>
  </div>
  <!-- 产品 -->
  <div class="prto-list hot">
    <ul>
      <li *ngFor="let item of proHotList2;let i=index" [ngClass]="{'bottom':i>=proHotList2.length-3}">
        <div>
          <span>{{item.title}}</span>
          <br/>
          <span *ngIf="i<proHotList2.length-3">{{item.prise}}</span>
        </div>
        <i>
          <img src="../../assets/imgs/{{item.img}}" alt="产品">          
        </i>
        <span *ngIf="i>=proHotList2.length-3">{{item.prise}}</span>
      </li>
    </ul>
    <div class="title-text">
      <img src="../../assets/imgs/title.png" alt="">
      <span>每月特价</span>
    </div>
  </div>
  <!-- 商城资讯 -->
  <div class="news">
    <div class="news-title">
      <ion-icon name="list-box"></ion-icon>
      <span> 商城资讯</span>
      <span>更多</span>
    </div>
    <ul>
      <li>
        <div>
          <img src="../../assets/imgs/newsList1.png" alt="">
        </div>
        <div>
          <h4>11.24 亲,你有一个礼单,记得查收</h4>
          <p>“我的生日,总想与你分享更多。今年我19岁了,感.......”</p>
        </div>
      </li>
      <li>
        <div>
          <img src="../../assets/imgs/newsList2.png" alt="">
        </div>
        <div>
          <h4>12.9 【当店庆遇上双12】#城山隐#专</h4>
          <p>今年我想送给家人一个礼物 一个我们一起精心</p>  
        </div>
      </li>
      <li>
        <div>
          <img src="../../assets/imgs/newsList2.png" alt="">
        </div>
        <div>
          <h4>12.9 【当店庆遇上双12】#城山隐#专</h4>
          <p>今年我想送给家人一个礼物 一个我们一起精心</p>
        </div>
      </li>
    </ul>
  </div>
  <!-- 底部公共 footer -->
  <footer>
    <div>
      <span>登陆</span>
      <i></i>
      <span>反馈</span>
      <i></i>
      <span>关于我们</span>
      <i></i>
      <span>返回顶部</span>
    </div>
    <div>
      <p>2005-2017 版权所有</p>
      <p>鲁宾斯国际商城--源于欧美 传世臻品</p>
      <p>备案号:88888888888888</p>
    </div>
  </footer>
</ion-content>
